{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="icon"  href="{% static 'weather_info/images/cloud.png' %}">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static "weather_info/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet" >

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'weather_info/css/fontawesome.css' %}">
    <link rel="stylesheet" href='{% static "weather_info/css/style.css" %}'>
    <link rel="stylesheet" href="{% static 'weather_info/css/owl.css' %}">
<!--

Host Cloud Template

https://templatemo.com/tm-541-host-cloud

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href=""><h2>Weather <em>Updates</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Services' %}" >Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'About' %}">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
              </li>
            </ul>
          </div>
         <!--  <div class="functional-buttons">
            <ul>
              <li><a href="#">Log in</a></li>
              <li><a href="#">Sign Up</a></li>  change
            </ul>
          </div> -->
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-5 offset-md-0"> <!-- change -->
            <div class="header-text caption">
              <h2>Your complete weather data accessing tool</h2>
              <div id="search-section">
              	<ul id="suggestion_form" name="gs">
                <div class="searchText">
                  
                 <!--  <input type="text" name="q" class="searchText" placeholder="Enter your domain here..." autocomplete="on">-->
                 <ul>

                    <li><span>Access the weather information for about any place around the globe with just a click!<br><br>Weather you want to go on a long vacation or for a short trip, get all the current temperature information and forecast for the place you want to visit from anywhere anytime COMPLETELY FREE. 
                    </span></li>
                    <!-- <li><span>Access the temperature information</span></li>
                    <li><span>Access the temperature information</span></li>
                    <li><span>Access the temperature information</span></li> -->

                  </ul> 

                
                </div class="functional-buttons" >
                    <a href="{% url 'Services' %}" class="main-button" style="margin-top:30px !important" >Search</a>
                 
               <div class="advSearch_chkbox">
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

  <!--   <!- Trusted Starts Here 
    <div class="trusted-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="trusted-section-heading">
              <h4>TRUSTED BY 1,250+ HAPPY CUSTOMERS WORLDWIDE</h4>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-trusted owl-carousel">
              <div class="trusted-item">
                <img src="assets/images/trusted-01.png" alt="trusted 1">
              </div>
              <div class="trusted-item">
                <img src="assets/images/trusted-01.png" alt="trusted 2">
              </div>
              <div class="trusted-item">
                <img src="assets/images/trusted-01.png" alt="trusted 3">
              </div>
              <div class="trusted-item">
                <img src="assets/images/trusted-01.png" alt="trusted 4">
              </div>
              <div class="trusted-item">
                <img src="assets/images/trusted-01.png" alt="trusted 5">
              </div>
              <div class="trusted-item">
                <img src="assets/images/trusted-01.png" alt="trusted 6">
              </div>
              <div class="trusted-item">
                <img src="assets/images/trusted-01.png" alt="trusted 7">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-Trusted Ends Here -->

<!-- 
    
    <div class="services-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>Hosting Services</span>
              <h2>Services we provide</h2>
              <p>Host Cloud is a professional Bootstrap 4 template by TemplateMo for your hosting company websites. There are 4 HTML pages included in this template. You can feel free to customize anything. Please share this template to your friends. Thank you.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-database"></i>
              <h4>10x Light Cloud</h4>
              <p>Aenean sit amet leo vitae tellus vehicula tincidunt vel sed lorem. Nullam tincidunt commodo magna, id aliquam sapien sollicitudin id.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-database"></i>
              <h4>Managed VPS Cloud</h4>
              <p>You are not allowed to re-distribute this template as a downloadable ZIP file on any template collection website. Please <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact us</a> if you want to.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-database"></i>
              <h4>Fully Dedicated</h4>
              <p>Aenean sit amet leo vitae tellus vehicula tincidunt vel sed lorem. Nullam tincidunt commodo magna, id aliquam sapien sollicitudin id.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  services
     -->


    <!-- <!- Pricing Starts Here ->
    <div class="pricing-section">
      <div class="background-image-pricing">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="section-heading">
              <h2>Cloud Hosting Plans</h2>
              <p>Lorem ipsum dolor amet taxidermy sriracha cardigan salvia actually vice migas enamel pin sustainable carry scenester lomo hot chicken farm table actually kinfolk.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Basic Cloud 5x</h4>
              <div class="price">
                <h6>$15.50</h6>
                <span>monthly</span>
              </div>
              <p>Etiam sit amet placerat lacus, sed placerat mauris. Vestibulum malesuada vehicula sapien non tempus.</p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>500 GB Storage Space</li>
                <li><i class="fa fa-check"></i>3 TB Data Transfer</li>
                <li><i class="fa fa-check"></i>Basic Managed Panel</li>
                <li><i class="fa fa-check"></i>24/7 Fast Support</li>
                <li><i class="fa fa-check"></i>100 Premium Themes</li>
                <li><i class="fa fa-check"></i>Cancel or Upgrade Anytime</li>
              </ul>
              <a href="#" class="main-button">Start Plan</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Cloud VPS 10x</h4>
              <div class="price price-gradient">
                <h6>$30.00</h6>
                <span>monthly</span>
              </div>
              <p>Etiam sit amet placerat lacus, sed placerat mauris. Vestibulum malesuada vehicula sapien non tempus.</p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>1 TB Cloud Space</li>
                <li><i class="fa fa-check"></i>8 TB Data Transfer</li>
                <li><i class="fa fa-check"></i>Fully Managed Panel</li>
                <li><i class="fa fa-check"></i>15-minute Quick Support</li>
                <li><i class="fa fa-check"></i>Unlimted Web Addons</li>
                <li><i class="fa fa-check"></i>Cancel or Upgrade Anytime</li>
              </ul>
              <a href="#" class="gradient-button">Select Plan</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Advanced Cloud</h4>
              <div class="price">
                <h6>$72.25</h6>
                <span>monthly</span>
              </div>
              <p>Etiam sit amet placerat lacus, sed placerat mauris. Vestibulum malesuada vehicula sapien non tempus.</p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>4 TB Cloud Space</li>
                <li><i class="fa fa-check"></i>20 TB Data Transfer</li>
                <li><i class="fa fa-check"></i>Fully Managed Panel</li>
                <li><i class="fa fa-check"></i>15-minute Quick Support</li>
                <li><i class="fa fa-check"></i>Top Notch Web Apps</li>
                <li><i class="fa fa-check"></i>Advanced Scalable</li>
              </ul>
              <a href="#" class="main-button">Take it now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-Pricing Ends Here --> 
 
 

    <!-- Features Starts Here -->
    <div class="services-section services-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
             
              <h2 style="text-align:center !important;">Features</h2>
              <p style="text-align:center !important;">Here is the information you can access in no time through this free tool </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-globe"></i>
              <h4>Global Coordinates on the map</h4>
              <p>You shall be provided with the coordinates of the place you have entered formatted by <b>latitude</b> and <b>longitude</b>.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-skyatlas"></i>
              <h4>Temperature</h4>
              <p>Includes <b>minimum temperature, maximum temperature, humidity and pressure</b>.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-cloud"></i>
              <h4>Weather condition</h4>
              <p>Tells wheather its <b>clear, cloudy, sunny or rainy</b> etc. Also provides the <b>visibility,  wind speed and wind direction in degrees (meteorogical)</b>.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-sun-o"></i>
              <h4>Sunset and Sunrise</h4>
              <p>Provides with the <b>exact time</b> of sunset and sunrise.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-clock-o"></i>
              <h4>Time Zone</h4>
              <p>Shows the <b>timezone</b> of the place queried.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-support"></i>
              <h4>Customer Support</h4>
              <p>In case of any problem feel free to <a href="{% url 'Contact' %} ">contact</a>. We shall respond to you within an hour. Any feedback shall be highly appreciated.</p>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <!-- Features Ends Here -->


    <!-- Testimonials Starts Here -->
     <div class="testimonials-section">
      <div class="container">
        <!--
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>Testimonials</span>
              <h2>What they say about us</h2>
            </div>
          </div>
          <div class="col-md-10 offset-md-1">
            <div class="owl-testimonials owl-carousel">
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"Ut elementum a elit sed tristique. Pellentesque sed semper erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean quam erat, rutrum ut malesuada."</p>
                <h4>William Smith</h4>
                <span>New Co-Founder</span>
              </div>
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"Quisque lacinia sed velit et maximus. Quisque dictum, lacus a malesuada finibus, arcu magna luctus risus, eu accumsan risus elit vitae lacus."</p>
                <h4>Vinny Smart</h4>
                <span>Digital Marketer</span>
              </div>
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"Vestibulum mauris ipsum, tempor tincidunt justo sit amet, bibendum tincidunt dui. Aenean molestie, odio quis viverra ultricies, leo tellus lacinia neque, sit amet maximus tortor nunc aliquet felis."</p>
                <h4>Trevor Liam</h4>
                <span>Technology Chef</span>
              </div>
            </div>
          </div>
        </div> --> 
      </div>
    </div> 
    <!-- Testimonials Ends Here -->


    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>About Us</h2>
              </div>
              <p>I am a student currently pursuing my CS degree at iub aspiring to become a web developer. This project was created for practice</p>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>Service</h2>
              </div>
              <ul class="footer-list">
                <li><a href="{% url 'Services' %}">GO to Services page.</a></li>
                <li><a href="{% url 'About' %}">GO to About page.</a></li>
                
                
              </ul>
            </div>
          </div>
          
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>Useful Links</h2>
              </div>
              <ul class="footer-list">
                <li><a href="https://www.free-css.com/">Free CSS website</a></li>
                <li><a href="https://openweathermap.org/">Open Weather Map's website</a></li>
                <li><a href="https://www.w3schools.com/">Learn web development</a></li>
                <li><a href="{% url 'Contact' %}">Customer Support</a></li>
                
              </ul>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>More Information</h2>
              </div>
              <ul class="footer-list">
                <li>Phone: <a href="#">092-304-2622690</a></li>
                <li>Email: <a href="#">abdullahozeeshan@gmail.com</a></li>
                <li>Support: <a href="#">support@company.com</a></li>
                <li>Website: <a href="https://github.com/abdullahz222">https://github.com/abdullahz222</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="sub-footer">
              <p>Copyright &copy; 2021 Weather Application Developed by Abdullah Zeeshan and
				- Designed by <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Ends Here -->

    <!-- Bootstrap core JavaScript -->
    <script src='{% static "weather_info/jquery/jquery.min.js" %}'></script>
    <script src='{% static "weather_info/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

    <!-- Additional Scripts -->
    <script src="{% static 'weather_info/js/custom.js' %}"></script>
    <script src="{% static 'weather_info/js/owl.js' %}"></script>
    <script src="{% static 'weather_info/js/accordions.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>