{% extends 'weather_info/index.html' %}
{% load static %}

   {% block title %}Services{% endblock %}

    <!-- Custom CSS -->
    {% block style %}

    <style type="text/css">

      #result{border:solid;
              border-color:lightblue;
              border-radius:10px;
              margin-top:30px;
              background-color:#edeef7; 
              }
      #inner{
        background-color:#b8b5ff ;
        padding-top:30px;
        padding-bottom:30px;
        margin-top:5px;
        color:#e4fbff;

      }

      img.d-block{
        height:200px;
        width:200px;
        padding:10px;
      }

      #shadow{
        text-shadow: 3px 3px 6px #7868e6;
      }

    </style>

    {% endblock %}

              {% block navurl %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'About' %}">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
              </li>
              {% endblock %}
    {% block content %}
    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Our Services</h1>
            <p><a href="{% url 'Home' %}">Home</a> / <span>Our Services</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->


    <!-- Services Starts Here -->
    

              {% if request.method == 'POST' and found %}
       <div class="container mt-5">       
        <div class="section-heading text-center" >
              <span>Results based on query.</span>
              <h2 id="bm">{{name}}'s weather information.</h2>
             </div> 
            </div>
                       
<div style="background-color:#7868e6 " class="container-fluid p-5 ">
 <div class="container" > 
 <div class="row">
  <div class="col-md-4 ">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/longitude.png' %}" alt="...">
      <div id="inner" class="caption text-center">
        <h4>Longitude is <br><h2 id="shadow">  {{longitude}} </h2><small> (In Degrees)</small></h4>
        
        
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div  id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/latitude.png' %}" alt="...">
      <div id="inner" class="caption text-center">
        <h4>Latitude is <br><h2 id="shadow"> {{latitude}} </h2><small> (In Degrees)</small> </h4>
       
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/cloudy.png' %}" alt="...">
      <div id="inner"  class="caption text-center">
        <h4>Weather condition is <br><h2 id="shadow"> {{weather_condition}} </h2><!--  weather condition is {{weather_condition_des}} --></h4>
        
        
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/hot.png' %}" alt="...">
      <div id="inner" class="caption text-center">
        <h4>Temperature is <br><h2 id="shadow"> {{temperature}}</h2> <small> (In Kelvin)</small></h4>
        
        
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/high_temp.png' %}" alt="...">
      <div id="inner" class="caption text-center">
        <h4>Minimum temperature <br>recorded is <br><h2 id="shadow"> {{minimum_temperature}}</h2><small> (In Kelvin)</small></h4>
        
        
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/low_temp.png' %}" alt="...">
      <div id="inner"  class="caption text-center">
        <h4>Maximum temperature recorded is <br> <h2 id="shadow"> {{maximum_temperature}}</h2><small> (In Kelvin)</small></h4>
        
        
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/pressure-gauge.png' %}" alt="...">
      <div id="inner"  class="caption text-center">
        <h4>Pressure is<br><h2 id="shadow"> {{pressure}}</h2><small> (In hPa i.e hectoPascal)</small></h4>
        
        
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/humidity.png' %}" alt="...">
      <div id="inner" class="caption text-center">
        <h4>Humidity is <br><h2 id="shadow"> {{humidity}}%</h2></h4>

        
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/seen.png' %}" alt="...">
      <div id="inner" class="caption text-center">
        <h4>Visibility is <br><h2 id="shadow"> {{visibility}}</h2><small> (In meter)</small></h4>
        
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/speedometer.png' %}" alt="...">
      <div id="inner" class="caption text-center">
        <h4>Wind speed is <br><h2 id="shadow">{{wind_speed}}</h2><small> (In meter/second)</small></h4>
        
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/windsock.png' %}" alt="...">
      <div id="inner" class="caption text-center">
        <h4>Wind direction is  <br><h2 id="shadow"> {{wind_direction}}</h2><small> (In Degree, meteorological)</small></h4>
        
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/time-zone.png' %}" alt="...">
      <div id="inner" class="caption text-center">
        <h4>Time at calculation  <br><h2 id="shadow"> {{time_of_calculation}}</h2></h4>
        
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/sunrise.png' %}" alt="...">
      <div id="inner" class="caption text-center">
        <h4>Time of sunrise is<br><h2 id="shadow"> {{sunrise}}<h2></h4>
       
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/sunset.png' %}" alt="...">
      <div id="inner" class="caption text-center">
        <h4>Time of sunset is <br><h2 id="shadow"> {{sunset}}</h2></h4>
        
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div id="result" class="thumbnail">
      <img class="mx-auto d-block" src="{% static 'weather_info/images/time-zone.png' %}" alt="...">
      <div id="inner" class="caption text-center">
        <h4>Location's timezone is <br><h2 id="shadow"> {{timezone}}</h2><small>Shift in seconds.</small></h4>
        
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>




              {% elif request.method == 'GET' %} 
<div class="services-section services-page">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="section-heading">
              <span>Input location related information</span>
              <h2 id="bm">Input Form</h2>
              <p>Enter the Name of your country and your city.</p>
            </div>
          </div>
          <div class="contact-form col-md-6">               
          <form id="contact" action="" method="POST">
            {% csrf_token %}
            <label for="fname"><b>Country:</b></label><br>
             <input list='test' type="text" id="fname" name="fname" placeholder="i.e Pakistan, Canada etc" required autofocus><datalist id='test'><option value="Pakistan">
              {% for country in countries_list %}
             <option value="{{country}}">
              {% endfor %}
             </datalist><br>
              <label for="lname"><b>City:</b></label><br>
             <input type="text" id="lname" name="lname" placeholder="i.e London, Islamabad etc"><br><br>
             <button id="form-submit" class="main-button"type="submit" value="Submit" required>Submit</button>
             
          </form> 

          {% else %}

            <div class="container mt-5 ">
              <h3>The information you provided is invalid. Please enter the correct Country and City name.</h3>
                <div class="text-center m-5">
                  <a class="btn btn-danger" href="">Try again.</a>
                </div>
              </div>
          {% endif %} 
        </div>
        </div>
      </div>
    </div>
    


    <hr style="margin:50px">

    {% endblock %}